@font-face {
    font-family: Montserrat;
    src: url("Montserrat-Regular.ttf");
}

@font-face {
    font-family: Montserrat Bold;
    src: url("Montserrat-ExtraBold.ttf");
}

* {
    margin: 0;
    padding: 0;
    font-family: Montserrat;
    /* border: 1px solid red; */
}

html {
    scroll-behavior: smooth;
}

.blckbg {
    background-color: #000 !important;
}

xmp {
    background-color: #fff;
    padding: 1rem;
    box-sizing: border-box;
    border-radius: 1rem;
    font-family: monospace;
    overflow: auto;
    color: #000;
    margin-top: 1rem;
}

#bg {
    background-image: url("bg2.webp");
    background-size: cover;
    background-position: center;
    position: fixed;
    top: 0;
    z-index: -1;
    width: 100vw;
    height: 100vh;
}

#garis1 {
    visibility: hidden;
}

@media (max-width: 768px){
    /* Head */

    #head {
        width: 100%;
        height: 100vh;
        margin: auto;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: rgba(0, 0, 0, 0);
    }

    #head > #title {
        width: 75%;
        align-self: start;
        padding: 2rem;
        box-sizing: border-box;
    }

    #title > span {
        font-size: 0.8rem;
        color: #fff;
    }

    #title > h1 {
        font-size: 2.5rem;
        font-family: Montserrat Bold;
        color: #fff;
    }

    #head > #headpicture {
        align-self: end;
        box-sizing: border-box;
        padding: 1rem;
        padding-right: 5rem;
        border-top-left-radius: 5rem;
        border-bottom-left-radius: 5rem;
        backdrop-filter: blur(10px);
        border: 2px solid #fff;
        border-right: none;
    }

    #head > #headpicture:hover {
        transition: padding-right 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
        padding-right: 10rem;
        box-shadow: 0px 0px 30px #fff;
    }

    #head > #headpicture > img {
        width: 7.5rem;
    }

    /* About */

    #bgimage {
        width: 100%;
        background-color: rgba(0, 0, 0, 0);
        padding-top: 3rem;
        padding-bottom: 3rem;
        box-sizing: border-box;
    }

    #about {
        width: 80%;
        margin: auto;
        padding: 1rem;
        color: #fff;
        border-radius: 1rem;
        backdrop-filter: blur(10px);
        border: 2px solid #fff;
        box-sizing: border-box;
    }

    #about:hover {
        transition: box-shadow 0.2s ease-in-out;
        box-shadow: 0px 0px 30px #fff;
    }

    #about > p {
        font-size: 0.8rem;
    }

    #about > h2 {
        display: inline-block;
        margin-bottom: 1rem;
        padding-bottom: 10px;
        border-bottom: 2px solid #fff;
    }

    #bgimage > #medsos {
        margin: auto;
        margin-top: 10rem;
        width: 80%;
        height: 300px;
        display: grid;
        grid-template-areas: 'github instagram instagram'
                             'email instagram instagram'
                             'whatsapp whatsapp youtube';
        gap: 1rem;
    }

    #github {
        grid-area: github;
        display: flex;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        border-radius: 1rem;
        cursor: pointer;
        border: 2px solid #fff;
        backdrop-filter: blur(10px);
    }

    #instagram {
        grid-area: instagram;
        display: flex;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        border-radius: 1rem;
        cursor: pointer;
        border: 2px solid #fff;
        backdrop-filter: blur(10px);
    }

    #email {
        grid-area: email;
        display: flex;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        border-radius: 1rem;
        cursor: pointer;
        border: 2px solid #fff;
        backdrop-filter: blur(10px);
    }

    #whatsapp {
        grid-area: whatsapp;
        display: flex;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        border-radius: 1rem;
        cursor: pointer;
        border: 2px solid #fff;
        backdrop-filter: blur(10px);
    }

    #youtube {
        grid-area: youtube;
        display: flex;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        border-radius: 1rem;
        cursor: pointer;
        border: 2px solid #fff;
        backdrop-filter: blur(10px);
    }

    #bgimage > #medsos > div > img {
        width: 3rem;
    }

    #bgimage > #medsos > div:hover {
        transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
        transform: scale(1.05);
        box-shadow: 0px 0px 30px #fff;
    }

    /* History */

    #history {
        width: 100%;
        margin-top: 10rem;
    }

    #history > #titlehistory {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #history > #titlehistory > #bookimage {
        width: 100%;
        justify-content: center;
        border: 2px solid #fff;
        border-left: none;
    }

    #history > #titlehistory > h2 {
        width: 100%;
        text-align: end;
        margin-right: 2rem;
        font-family: Montserrat Bold;
        color: #fff;
    }

    #history > #detailhistory {
        width: 80%;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: start;
    }

    #history > #detailhistory > #garis {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .garis {
        width: 2px;
        height: 5rem;
        background-color: #fff;
    }

    .dot {
        width: 20px;
        height: 20px;
        background-color: #fff;
        border-radius: 100%;
        animation: glow 1s ease-in-out infinite alternate;
    }

    #history > #detailhistory > #detail {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .sch {
        width: 100%;
        margin: auto;
        padding-left: 2rem;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: start;
        color: #fff;
    }

    @keyframes glow {
        to {
            box-shadow: 0px 0px 10px #fff;
        }
    }

    .schname {
        font-family: Montserrat Bold;
        color: #fff;
    }

    #sd {
        margin-top: 4rem;
    }

    #smp {
        margin-top: 4rem;
    }

    #smk {
        margin-top: 3rem;
    }

    /* Skill */

    #skill {
        width: 80%;
        margin: auto;
        margin-top: 10rem;
        padding: 2rem;
        box-sizing: border-box;
        color: #fff;
        text-align: center;
        border-radius: 1rem;
        border: 2px solid #fff;
        backdrop-filter: blur(10px);
    }

    #skill:hover {
        transition: box-shadow 0.2s ease-in-out;
        box-shadow: 0px 0px 20px #fff;
    }

    #skill > #titleskill > h2 {
        display: inline-block;
        margin-bottom: 2rem;
        padding-bottom: 5px;
        border-bottom: 2px solid #fff;
        font-family: Montserrat Bold;
        font-size: 2rem;
    }

    #fotografi {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1rem;
    }

    #fotografi > #fotobar {
        width: 60%;
        height: 1rem;
        background-color: #fff;
        border-radius: 1rem;
        color: #000;
        text-align: center;
        padding: 2px;
        margin: 0.5rem;
    }

    #desain {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1rem;
    }

    #desain > #desainbar {
        width: 40%;
        height: 1rem;
        background-color: #fff;
        border-radius: 1rem;
        color: #000;
        text-align: center;
        padding: 2px;
        margin: 0.5rem;
    }

    #htmlcss {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1rem;
    }

    #htmlcss > #htmlcssbar {
        width: 80%;
        height: 1rem;
        background-color: #fff;
        border-radius: 1rem;
        color: #000;
        text-align: center;
        padding: 2px;
        margin: 0.5rem;
    }

    #javascript {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1rem;
    }

    #javascript > #javascriptbar {
        width: 60%;
        height: 1rem;
        background-color: #fff;
        border-radius: 1rem;
        color: #000;
        text-align: center;
        padding: 2px;
        margin: 0.5rem;
    }

    #python {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1rem;
    }

    #python > #pythonbar {
        width: 60%;
        height: 1rem;
        background-color: #fff;
        border-radius: 1rem;
        color: #000;
        text-align: center;
        padding: 2px;
        margin: 0.5rem;
    }

    #php {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1rem;
    }

    #php > #phpbar {
        width: 40%;
        height: 1rem;
        background-color: #fff;
        border-radius: 1rem;
        color: #000;
        text-align: center;
        padding: 2px;
        margin: 0.5rem;
    }

    /* Blog */

    #blog {
        width: 80%;
        margin: auto;
        margin-top: 10rem;
    }

    #blog > #titleblog > h2 {
        font-family: Montserrat Bold;
        font-size: 2rem;
        padding-bottom: 5px;
        border-bottom: 3px solid #fff;
        margin-bottom: 1rem;
        text-align: end;
        color: #fff;
    }

    #blog > #content > #content1 {
        padding: 1rem;
        box-sizing: border-box;
        color: #fff;
        border-radius: 1rem;
        border: 2px solid #fff;
        backdrop-filter: blur(10px);
    }

    #blog > #content > #content1 > #titlecontent1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        width: 100%;
        text-align: start;
    }

    #blog > #content > #content1:hover {
        transition: box-shadow 0.2s ease-in-out;
        box-shadow: 0px 0px 20px #fff;
    }

    #blog > #content > #content1 > #titlecontent1 > #sampulcontent1 {
        width: 100%;
        height: 10rem;
        margin-bottom: 1rem;
        border-radius: 1rem;
        background-image: url("lato.webp");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    #blog > #content > #content1 > #content1detail {
        margin-top: 1rem;
    }

    #blog > #content > #content1 > #content1detail > p {
        font-size: 0.9rem;
    }

    #blog > #content > #content1 > #content1detail > p > a {
        color: #fff;
        font-weight: bold;
    }

    #blog > #content > #content2 {
        padding: 1rem;
        box-sizing: border-box;
        color: #fff;
        border-radius: 1rem;
        margin-top: 1rem;
        border: 2px solid #fff;
        backdrop-filter: blur(10px);
    }

    #blog > #content > #content2:hover {
        transition: box-shadow 0.2s ease-in-out;
        box-shadow: 0px 0px 20px #fff;
    }

    #blog > #content > #content2 > #titlecontent2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        width: 100%;
        text-align: start;
    }

    #blog > #content > #content2 > #titlecontent2 > #sampulcontent2 {
        width: 100%;
        height: 10rem;
        margin-bottom: 1rem;
        border-radius: 1rem;
        background-image: url("code.webp");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    #blog > #content > #content2 > #content2detail {
        margin-top: 1rem;
    }

    #blog > #content > #content2 > #content2detail > p {
        font-size: 0.9rem;
    }

    #blog > #content > #content2 > #content2detail > p > a {
        color: #fff;
        font-weight: bold;
    }

    #blog > #content > #content3 {
        padding: 1rem;
        box-sizing: border-box;
        color: #fff;
        border-radius: 1rem;
        margin-top: 1rem;
        border: 2px solid #fff;
        backdrop-filter: blur(10px);
    }

    #blog > #content > #content3:hover {
        transition: box-shadow 0.2s ease-in-out;
        box-shadow: 0px 0px 20px #fff;
    }

    #blog > #content > #content3 > #titlecontent3 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        width: 100%;
        text-align: start;
    }

    #blog > #content > #content3 > #titlecontent3 > #sampulcontent3 {
        width: 100%;
        height: 10rem;
        margin-bottom: 1rem;
        border-radius: 1rem;
        background-image: url("lighttrails.webp");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    #blog > #content > #content3 > #content3detail {
        margin-top: 1rem;
    }

    #blog > #content > #content3 > #content3detail > p {
        font-size: 0.9rem;
    }

    #blog > #content > #content3 > #content3detail > p > a {
        color: #fff;
        font-weight: bold;
    }

    /* Project */

    #project {
        width: 100%;
        margin-top: 10rem;
    }

    #projectdescript {
        width: 80%;
        margin: auto;
        margin-bottom: 2rem;
        color: #fff;
        box-sizing: border-box;
    }

    #projectdescript > h2 {
        font-family: Montserrat Bold;
        padding-bottom: 3px;
        border-bottom: 3px solid #fff;
        margin-bottom: 1rem;
        display: inline-block;
    }

    #projectdescript > p {
        font-size: 0.9rem;
    }

    #projectopt {
        overflow: auto;
        display: flex;
    }

    #projectopt > div {
        min-width: 15rem;
        height: 20rem;
        border: 2px solid #fff;
        border-radius: 1rem;
        backdrop-filter: blur(10px);
        padding: 2rem;
        color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        transform: scale(0.9);
    }

    #projectopt > div:hover {
        transition: box-shadow 0.2s ease-in-out, transform 0.2s ease-in-out;
        box-shadow: 0px 0px 20px #fff;
        transform: scale(1);
    }

    .descproduct > h2 {
        display: inline-block;
        padding-bottom: 3px;
        border-bottom: 3px solid #fff;
        margin-bottom: 1rem;
    }

    .buycnfrm {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .buycnfrm > button {
        padding: 0.5rem;
        border: 2px solid #fff;
        box-sizing: border-box;
        color: #fff;
        outline: none;
        border-radius: 2rem;
        margin: 0.5rem;
        background-color: rgba(0, 0, 0, 0);
    }

    .buycnfrm > button:hover {
        background-color: #fff;
        box-shadow: 0px 0px 20px #fff;
        color: #000;
    }

    /* Footer */

    #foot {
        width: 100%;
        box-sizing: border-box;
        padding: 0.5rem;
        border-top: 2px solid #fff;
        backdrop-filter: blur(10px);
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        margin-top: 10rem;
    }
}

@media (min-width: 768px) {
    /* Head */
    
    #head {
        width: 100%;
        height: 100vh;
        margin: auto;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: rgba(0, 0, 0, 0);
        background-position: center;
        background-size: cover;
    }
    
    #head > #title {
        width: 40%;
        padding-left: 5rem;
    }
    
    #title > span {
        font-size: 1rem;
        color: #fff;
    }
    
    #title > h1 {
        font-size: 3rem;
        font-family: Montserrat Bold;
        color: #fff;
    }
    
    #head > #headpicture {
        box-sizing: border-box;
        padding: 1rem;
        padding-right: 10rem;
        border-top-left-radius: 10rem;
        border-bottom-left-radius: 10rem;
        backdrop-filter: blur(10px);
        border: 2px solid #fff;
        border-right: none;
    }

    #head > #headpicture:hover {
        transition: padding-right 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
        padding-right: 15rem;
        box-shadow: 0px 0px 30px #fff;
    }
    
    #head > #headpicture > img {
        width: 13rem;
    }

    /* About */
    
    #bgimage {
        width: 100%;
        background-color: rgba(0, 0, 0, 0);
        padding-top: 3rem;
        padding-bottom: 3rem;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    
    #about {
        width: 50%;
        box-sizing: border-box;
        padding: 2rem;
        color: #fff;
        border-radius: 1rem;
        backdrop-filter: blur(10px);
        border: 2px solid #fff;
    }

    #about:hover {
        transition: box-shadow 0.2s ease-in-out;
        box-shadow: 0px 0px 30px #fff;
    }
    
    #about > p {
        font-size: 0.8rem;
    }

    #about > h2 {
        display: inline-block;
        margin-bottom: 1rem;
        padding-bottom: 10px;
        border-bottom: 2px solid #fff;
    }
    
    #bgimage > #medsos {
        margin: auto;
        margin-top: 10rem;
        width: 50%;
        height: 100px;
        display: grid;
        grid-template-areas: 'github instagram email whatsapp youtube';
        gap: 1rem;
        justify-content: stretch;
    }

    #github {
        grid-area: github;
        display: flex;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        border-radius: 1rem;
        cursor: pointer;
        border: 2px solid #fff;
        backdrop-filter: blur(10px);
    }
    
    #instagram {
        grid-area: instagram;
        display: flex;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        border-radius: 1rem;
        cursor: pointer;
        border: 2px solid #fff;
        backdrop-filter: blur(10px);
    }
    
    #email {
        grid-area: email;
        display: flex;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        border-radius: 1rem;
        cursor: pointer;
        border: 2px solid #fff;
        backdrop-filter: blur(10px);
    }
    
    #whatsapp {
        grid-area: whatsapp;
        display: flex;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        border-radius: 1rem;
        cursor: pointer;
        border: 2px solid #fff;
        backdrop-filter: blur(10px);
    }
    
    #youtube {
        grid-area: youtube;
        display: flex;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        border-radius: 1rem;
        cursor: pointer;
        border: 2px solid #fff;
        backdrop-filter: blur(10px);
    }

    #bgimage > #medsos > div > img {
        width: 5rem;
        transform: scale(1);
        padding: 1rem;
        border-radius: 1rem;
        box-sizing: border-box;
    }
    
    #bgimage > #medsos > div:hover {
        transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
        transform: scale(1.05);
        box-shadow: 0px 0px 30px #fff;
    }

    /* History */

    #history {
        width: 100%;
        margin-top: 12rem;
    }

    #history > #titlehistory {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #history > #titlehistory > #bookimage {
        width: 100%;
        border: 2px solid #fff;
    }

    #history > #titlehistory > h2 {
        width: 30%;
        text-align: end;
        margin-right: 2rem;
        font-family: Montserrat Bold;
        color: #fff;
    }
    
    #history > #detailhistory {
        width: 50%;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: space-around;
        margin-top: 3rem;
    }

    #history > #detailhistory > #garis {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .garis {
        display: none;
    }

    .dot {
        width: 20px;
        height: 20px;
        background-color: #fff;
        border-radius: 100%;
        animation: glow 1s ease-in-out infinite alternate;
    }

    #history > #detailhistory > #detail {
        display: flex;
        justify-content: space-around;
    }

    .sch {
        width: 100%;
        margin: auto;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 1rem;
        margin: 1rem;
        color: #fff;
        backdrop-filter: blur(10px);
        border: 2px solid #fff;
        border-radius: 3rem;
    }

    @keyframes glow {
        to {
            box-shadow: 0px 0px 10px #fff;
        }
    }

    .schname {
        font-family: Montserrat Bold;
    }

    /* Skill */

    #skill {
        width: 50%;
        margin: auto;
        margin-top: 12rem;
        padding: 2rem;
        box-sizing: border-box;
        color: #fff;
        text-align: center;
        display: flex;
        justify-content: space-around;
        border-radius: 1rem;
        border: 2px solid #fff;
        backdrop-filter: blur(10px);
    }

    #skill:hover {
        transition: box-shadow 0.2s ease-in-out;
        box-shadow: 0px 0px 20px #fff;
    }

    #skill > #titleskill {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #skill > #titleskill > h2 {
        font-family: Montserrat Bold;
        font-size: 3rem;
        transform: rotate(-90deg);
        padding-bottom: 5px;
        border-bottom: 2px solid #fff;
    }

    #skill > #skillbar {
        width: 50%;
    }

    #fotografi {
        display: flex;
        justify-content: start;
        align-items: center;
        padding: 1rem;
    }

    #fotografi > #fotobar {
        width: 0%;
        height: 1rem;
        background-color: #fff;
        border-radius: 1rem;
        color: #000;
        text-align: center;
        padding: 2px;
        margin: 0.5rem;
    }

    #desain {
        display: flex;
        justify-content: start;
        align-items: center;
        padding: 1rem;
    }

    #desain > #desainbar {
        width: 0%;
        height: 1rem;
        background-color: #fff;
        border-radius: 1rem;
        color: #000;
        text-align: center;
        padding: 2px;
        margin: 0.5rem;
    }

    #htmlcss {
        display: flex;
        justify-content: start;
        align-items: center;
        padding: 1rem;
    }

    #htmlcss > #htmlcssbar {
        width: 0%;
        height: 1rem;
        background-color: #fff;
        border-radius: 1rem;
        color: #000;
        text-align: center;
        padding: 2px;
        margin: 0.5rem;
    }

    #javascript {
        display: flex;
        justify-content: start;
        align-items: center;
        padding: 1rem;
    }

    #javascript > #javascriptbar {
        width: 0%;
        height: 1rem;
        background-color: #fff;
        border-radius: 1rem;
        color: #000;
        text-align: center;
        padding: 2px;
        margin: 0.5rem;
    }

    #python {
        display: flex;
        justify-content: start;
        align-items: center;
        padding: 1rem;
    }

    #python > #pythonbar {
        width: 0%;
        height: 1rem;
        background-color: #fff;
        border-radius: 1rem;
        color: #000;
        text-align: center;
        padding: 2px;
        margin: 0.5rem;
    }

    #php {
        display: flex;
        justify-content: start;
        align-items: center;
        padding: 1rem;
    }

    #php > #phpbar {
        width: 0%;
        height: 1rem;
        background-color: #fff;
        border-radius: 1rem;
        color: #000;
        text-align: center;
        padding: 2px;
        margin: 0.5rem;
    }

    /* Blog */

    #blog {
        width: 50%;
        margin: auto;
        margin-top: 12rem;
    }

    #blog > #titleblog > h2 {
        font-family: Montserrat Bold;
        font-size: 2rem;
        padding-bottom: 5px;
        border-bottom: 3px solid #fff;
        margin-bottom: 1rem;
        text-align: end;
        color: #fff;
    }

    #blog > #content > #content1 {
        padding: 1rem;
        box-sizing: border-box;
        color: #fff;
        border-radius: 1rem;
        border: 2px solid #fff;
        backdrop-filter: blur(10px);
    }

    #blog > #content > #content1:hover {
        transition: box-shadow 0.2s ease-in-out;
        box-shadow: 0px 0px 20px #fff;
    }
    
    #blog > #content > #content1 > #titlecontent1 {
        width: 100%;
        display: flex;
        justify-content: start;
        align-items: center;
        text-align: start;
    }

    #blog > #content > #content1 > #titlecontent1 > #sampulcontent1 {
        width: 30%;
        height: 5rem;
        margin-right: 1rem;
        border-radius: 1rem;
        background-image: url("lato.webp");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    #blog > #content > #content1 > #content1detail {
        margin-top: 1rem;
    }

    #blog > #content > #content1 > #content1detail > p {
        font-size: 0.9rem;
    }

    #blog > #content > #content1 > #content1detail > p > a {
        color: #fff;
        font-weight: bold;
    }
    
    #blog > #content > #content2 {
        padding: 1rem;
        box-sizing: border-box;
        color: #fff;
        border-radius: 1rem;
        margin-top: 1rem;
        border: 2px solid #fff;
        backdrop-filter: blur(10px);
    }

    #blog > #content > #content2:hover {
        transition: box-shadow 0.2s ease-in-out;
        box-shadow: 0px 0px 20px #fff;
    }
    
    #blog > #content > #content2 > #titlecontent2 {
        width: 100%;
        display: flex;
        justify-content: start;
        align-items: center;
        text-align: start;
    }

    #blog > #content > #content2 > #titlecontent2 > #sampulcontent2 {
        width: 30%;
        height: 5rem;
        margin-right: 1rem;
        border-radius: 1rem;
        background-image: url("code.webp");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    #blog > #content > #content2 > #content2detail {
        margin-top: 1rem;
    }

    #blog > #content > #content2 > #content2detail > p {
        font-size: 0.9rem;
    }

    #blog > #content > #content2 > #content2detail > p > a {
        color: #fff;
        font-weight: bold;
    }
    
    #blog > #content > #content3 {
        padding: 1rem;
        box-sizing: border-box;
        color: #fff;
        border-radius: 1rem;
        margin-top: 1rem;
        border: 2px solid #fff;
        backdrop-filter: blur(10px);
    }

    #blog > #content > #content3:hover {
        transition: box-shadow 0.2s ease-in-out;
        box-shadow: 0px 0px 20px #fff;
    }
    
    #blog > #content > #content3 > #titlecontent3 {
        width: 100%;
        display: flex;
        justify-content: start;
        align-items: center;
        text-align: start;
    }

    #blog > #content > #content3 > #titlecontent3 > #sampulcontent3 {
        width: 30%;
        height: 5rem;
        margin-right: 1rem;
        border-radius: 1rem;
        background-image: url("lighttrails.webp");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    #blog > #content > #content3 > #content3detail {
        margin-top: 1rem;
    }

    #blog > #content > #content3 > #content3detail > p {
        font-size: 0.9rem;
    }

    #blog > #content > #content3 > #content3detail > p > a {
        color: #fff;
        font-weight: bold;
    }
    
    /* Project */
    
    #project {
        width: 50%;
        margin: auto;
        margin-top: 10rem;
        box-sizing: border-box;
    }
    
    #projectdescript {
        width: 90%;
        color: #fff;
        box-sizing: border-box;
        margin: auto;
        margin-bottom: 2rem;
    }
    
    #projectdescript > h2 {
        font-family: Montserrat Bold;
        padding-bottom: 3px;
        border-bottom: 3px solid #fff;
        margin-bottom: 1rem;
        display: inline-block;
    }
    
    #projectdescript > p {
        font-size: 1rem;
    }
    
    #projectopt {
        overflow: auto;
        display: flex;
        width: 100%;
        box-sizing: border-box;
        justify-content: center;
    }

    #projectopt > div {
        max-width: 20rem;
        height: 30rem;
        border: 2px solid #fff;
        border-radius: 1rem;
        backdrop-filter: blur(10px);
        padding: 2rem;
        color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        box-sizing: border-box;
        transform: scale(0.9);
    }

    #projectopt > div:hover {
        transition: box-shadow 0.2s ease-in-out, transform 0.2s ease-in-out;
        box-shadow: 0px 0px 20px #fff;
        transform: scale(1);
    }
    
    .descproduct > h2 {
        display: inline-block;
        padding-bottom: 3px;
        border-bottom: 3px solid #fff;
        margin-bottom: 1rem;
    }
    
    .buycnfrm {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .buycnfrm > button {
        padding: 0.5rem;
        border: 2px solid #fff;
        box-sizing: border-box;
        color: #fff;
        outline: none;
        border-radius: 2rem;
        margin: 0.5rem;
        background-color: rgba(0, 0, 0, 0);
    }
    
    .buycnfrm > button:hover {
        background-color: #fff;
        box-shadow: 0px 0px 20px #fff;
        color: #000;
    }
    
        /* Footer */
    
    #foot {
        width: 100%;
        box-sizing: border-box;
        padding: 0.5rem;
        border-top: 2px solid #fff;
        backdrop-filter: blur(10px);
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        margin-top: 10rem;
    }
}
